<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
  
	<bean id="userProfileResource"
		class="com.gl.finwiz.core.userprofile.rest.resource.UserProfileResource"
		scope="prototype">
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="loadFormResource"
		class="com.gl.finwiz.core.rest.resource.LoadFormResource"
		scope="prototype">
		<property name="xstream" ref="xstream"></property>
	</bean> 
	<bean id="losResource"
		class="com.gl.finwiz.core.rest.resource.LosResource"
		scope="prototype">
		<property name="xstream" ref="xstream"></property>
	</bean>
	<bean id="cacheResource"
		class="com.gl.finwiz.core.rest.resource.CacheResource"
		scope="prototype">
		<property name="xstream" ref="xstream"></property>
	</bean>
	 
	
</beans>