        div#tablecontainer
        {
            width: 100%;
        }

        div.tablecontainerrow
        {
            clear:both;
        }

        div#tablecontainer div div.column1
        {
            width: 10%;
            float:left;
            border: 0px solid black;
            background-color:#fff;            
        }

        div#tablecontainer div div.column2
        {
            width: 45%;
            float:left;
            border: 0px solid black;
            background-color:#fff;            
        }

        div#tablecontainer div div.column3
        {
            width: 44%;
            float:left;
            border: 0px solid black;
            background-color:#fff;            
			text-align: right;
        }
        
        div#tablecontainer div div.column3-colspan
        {
            width: 44%;
            float:left;
            border: 0px solid black;
            background-color:#fff;            
			text-align: right;
			position: absolute;
			top: 10;
  			right: 10;
        }

		div#tablecontainer div div.subcolumn3-1
        {
            width: 25%;
            float:left;
            border: 0px solid black;
            background-color:#fff; 
			text-align: left;
        }

		div#tablecontainer div div.subcolumn3-2
        {
            width: 40%;
            float:left;
            border: 0px solid black;
            background-color:#fff; 
			text-align: left;
        }
        
        
        /* end */
        
        .tableTabs
    {
		width: 100%;
        display: table;
    }
	.rowTabs
    {
		width: 50%;
        display: table-row;
    }
    .cellTabs
    {
        display: table-cell;
        border: 0px solid black;
    }
	.tableTabsLeft
    {
		width: 100%;
        display: table;
    }
	.rowTabsLeft
    {
        display: table-row;
    }
	.cellTabsLeft-1
    {
		width: 25%;
        display: table-cell;
        border: 0px solid black;
    }
	.cellTabsLeft-2
    {
		width: 75%;
        display: table-cell;
        border: 0px solid black;
    }
	.tableTabsRight
    {
		width: 100%;
        display: table;
    }
	.rowTabsRight
    {
        display: table-row;
    }
	.cellTabsRight-1
    {
		width: 30%;
        display: table-cell;
        border: 0px solid black;
    }
	.cellTabsRight-2
    {
		width: 70%;
        display: table-cell;
        border: 0px solid black;
    }
    div#tablecontainer div div.columnBtn3
    {
        width: 100%;
        float:left;
        border: 0px solid black;
        background-color:#fff;            
		text-align: right;
     }