.row_group1 {
  float: left;
  width: 115px;
  padding: 3px;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size:10px;
}

.row_group2 {
  float: left;
  width: 60px;
  padding: 3px;
  border: 1px solid #ccc;
  font-size:10px;
}

.div_row1 {
  float: left;
  width: 100px;
  padding: 3px;
  border: 0px solid #ccc;
}
.div_row2 {
  float: left;
  width: 350px;
  padding: 3px;
  border: 0px solid #ccc;
  display: block;
}
p span 
{
    display: block;
}